<section class="todo">
  <h1>TODO List App - Manage all your activities!</h1>
  <form class="todo__form" [formGroup]="todoForm" (ngSubmit)="addTodo()">
    <input
      type="text"
      id="activity"
      aria-label="Write your to do tasks"
      placeholder="Write your to do tasks"
      formControlName="todo"
    >

    <button type="submit">Save</button>
  </form>
  <ul class="todo__list">
    <li class="todo__list--item" *ngFor="let item of todoList">
      <input type="checkbox">
      <div class="todo__list--text" [ngClass]="{'task-done': item.done} ">
        {{item.todo}}
      </div>
      <div class="todo__list--actions">
        <button *ngIf="!item.done else undo" class="blue-filter" class="todo__list--actions-button" (click)="markAsDone(item)" aria-label="undo task">
          <svg class="blue-filter" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
            <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/>
          </svg>
        </button>

        <ng-template #undo>
          <button class="todo__list--actions-button" (click)="undoTask(item)" aria-label="mark task as done">
            <svg class="blue-filter" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M280-200v-80h284q63 0 109.5-40T720-420q0-60-46.5-100T564-560H312l104 104-56 56-200-200 200-200 56 56-104 104h252q97 0 166.5 63T800-420q0 94-69.5 157T564-200H280Z"/></svg>
          </button>
        </ng-template>

        <button class="todo__list--actions-button" (click)="removeTodo(item)" aria-label="remove task">
            <svg class="red-filter" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
        </button>
      </div>
    </li>
  </ul>
</section>
