@import '../../../styles.scss';


.todo {
  display: flex;
  flex-direction: column;
  gap:20px;
  align-items: center;

  &__form {
    display:flex;
    align-items: center;
    gap: 10px;


  }

  &__filter {
    align-self: start;

    &--form {
      display: flex;
      gap: 10px
    }
  }


  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:10px;


    &--text {
      flex:1;
    }

    &--actions {
      display: flex;
      gap:5px;
      justify-self: flex-end;

      &-button {
        padding: 0;
        border: none;
        background-color: $white;
        box-shadow: unset;
        display: flex;
        align-items: center;
        justify-self: flex-end;
        cursor: pointer;
        height: 24px;
      }
    }

    &--item {
      display: grid;
      grid-template-columns: 3fr 1fr 1fr 1fr;
      align-items: center;
    }

    &--pagination{
      display: flex;
      gap: 10px;
      align-items: center;

      button {
        background-color: unset;
        border: unset;
        box-shadow: unset;
      }
    }


  }
}
.task-done {
  text-decoration: line-through;
  color: $color-disabled;
}

.disable-icon {
  color: $color-disabled
}
