/* You can add global styles to this file, and also import other style files */
$font-family: 'Nunito Sans', sans-serif;
$yellow: #ffbc11;
$red: #ff3d00;
$main-background: #f0f0f0;
$white: #ffffff;
$blue: #2b3ee7;
$box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
$color-disabled: #7c7c7c;

:root {
  font-family: $font-family;
}

.red-filter {
  filter: brightness(0) saturate(100%) invert(28%) sepia(75%) saturate(7237%) hue-rotate(354deg) brightness(99%) contrast(133%);
}

.blue-filter {
  filter: brightness(0) saturate(100%) invert(20%) sepia(87%) saturate(6112%) hue-rotate(239deg) brightness(92%) contrast(96%);
}

h1 {
  font-weight: 800;
}

.shadow-box {
  border-radius: 5px;
  background-color: $white;
  box-shadow: $box-shadow;
  padding: 10px;
}

input, select, button {
  padding: 10px;
  border-radius: 6px;
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 1px;
  font-family: inherit;
}

button {
  color:#f0f0f0;
  font-weight: 700;
  background-color: $blue;
  border-color: $white;
  box-shadow: $box-shadow;
}

button.button-disabled {
  background-color: $color-disabled;
}


